@import "bootstrap-sprockets";
@import "bootstrap";
// reset CSS
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

// universal 
body {
  padding-top: 60px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}

.head_title {
  font-weight: bold;
  color: paleturquoise
}
